.is-warn {
  color: rgb(255, 173, 31) !important;
  stroke: rgb(255, 173, 31) !important;
}

.is-danger {
  color: #e0245e !important;
  stroke: #e0245e !important;
}

.hide {
  display: none !important;
}

.is-disabled{
  opacity: 0.5;
  cursor: default !important;
}

button.is-disabled{
  opacity: 0.3;
  cursor: not-allowed !important;
}
