{
  "trailingComma": "es5",
  "printWidth": 120,
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "alignObjectProperties": true,
  "stylelint": {
    "plugins": [
      "stylelint-scss",
      "stylelint-prettier",
      "stylelint-color-format",
      "stylelint-high-performance-animation"
    ],
    "rules": {
      "scss/selector-no-redundant-nesting-selector": true,

      "color-format/format": {
        "format": "rgb"
      },

      "plugin/no-low-performance-animation-properties": true,
      "prettier/prettier": true,

      "indentation": 2,
      "unit-whitelist": ["em", "rem", "s", "%", "px"]
    }
  }
}
