.is-warn {
  color: rgb(255, 173, 31) !important;
  stroke: rgb(255, 173, 31) !important;
}

.is-danger {
  color: rgb(224, 36, 94) !important;
  stroke: rgb(224, 36, 94) !important;
}

.hide {
  display: none !important;
}

.is-disabled {
  cursor: default !important;
  opacity: 0.5;
}

button.is-disabled {
  cursor: not-allowed !important;
  opacity: 0.3;
}

.padding-xs {
  margin-left: 4px !important;
}

.touched {
  color: rgb(101, 119, 134);
}

.untouched {
  color: rgb(204, 214, 221);
}

.zen-counter {
  display: inline;
}
