@import-sanitize;

:root {
  --color-text: rgba(0, 0, 0, 0.8);
  --color-background: rgb(245, 245, 245);
  --color-option-active: rgb(40, 167, 69);
}

html,
body {
  background: var(--color-background);
}

.container {
  height: 110px;
  padding: 6px 6px 6px 10px;
}

input[disabled] {
  cursor: default;
}

.grid {
  align-items: center;
  display: grid;
  grid-column-gap: 2px;
  grid-row-gap: 10px;
  grid-template-columns: 190px 60px;
  grid-template-rows: 100%;
}

.grid.disabled {
  opacity: 0.5;
}

.disabled .onoffswitch-label {
  cursor: default;
}

.option-item {
  color: var(--color-text);
}

.onoffswitch {
  margin: 0 auto;
  position: relative;
  width: 40px;
}

.onoffswitch-checkbox {
  display: none;
}

.onoffswitch-label {
  background-color: rgb(238, 238, 238);
  border: 2px solid rgb(153, 153, 153);
  border-radius: 14px;
  cursor: pointer;
  display: block;
  height: 20px;
  line-height: 20px;
  overflow: hidden;
  padding: 0;
  transition: background-color 0.3s ease-in;
}

.onoffswitch-label:before {
  background: rgb(255, 255, 255);
  border: 2px solid rgb(153, 153, 153);
  border-radius: 14px;
  bottom: 0;
  content: '';
  display: block;
  height: 20px;
  margin: 0;
  position: absolute;
  right: 24px;
  top: 0;
  transition: all 0.3s ease-in 0s;
  width: 20px;
}

.onoffswitch-checkbox:checked + .onoffswitch-label {
  background-color: var(--color-option-active);
}

.onoffswitch-checkbox:checked + .onoffswitch-label,
.onoffswitch-checkbox:checked + .onoffswitch-label:before {
  border-color: var(--color-option-active);
}

.onoffswitch-checkbox:checked + .onoffswitch-label:before {
  right: 0;
}
